<p>pipes works!</p>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
              <label for="">Filter Users here</label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="filterString">
              <small id="helpId" class="form-text text-muted">Enter the username you want to search</small>
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li *ngFor="let user of users | filter:filterString">
          <p>
            <span>{{ user.name | lengthShorter:5:'A' }}</span>
          </p>
          <p>
            <span>{{ user.name | upperCaseAsync | async }}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
